body {
  background-color: aquamarine;
}

.container {
  background-color: azure;
  padding: 15px;
  border: solid purple 5px;
}

.btn {
  display: block;
}

#csharp {
  display: none;
}

#javascript {
  display: none;
}

#python {
  display: none;
}

#ruby {
  display: none;
}